*{
    padding: 0;
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container{
    width: 60%;
    padding: 40px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prfn-inp{
    padding: 0 10px ;
    margin: 0 10px ;
}
.inp-container{
    display: flex;
    width: 300px;
    padding: 15px;
}
.inp-btn-container{
    display: flex;
}
.inp-info-text{
    padding: 0 10px ;
}

.city-select-tag{
    width:300px ;
    padding: 5px;
   
}
input{
    width:300px;
    padding: 5px;
    font-size: 20px;
}
option , select{
    font-size: 22px;
}
label , p{
    font-size: 22px; 
}
.btn{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;

}
.text-type-inp{
    padding: 5px;
    border-radius: 7px;
}
.table-btn{
    width: 100px;
    margin: 10px;
    padding: 6px;
}