.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
table{
    
   min-width:60%;
    text-align: center;
    border: 1px solid black;
}
tr{
    border: 1px solid black;  
}
td,th{
    padding: 10px;
    border: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.edit-btn{
        background-color: #008CBA; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
}

.dlt-btn{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}